server {
    listen       ${PORT};  # Use environment variable
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # Configure your reverse proxy here if needed
}